.main-top {
    width: 1200px;
    margin: auto;
    text-align: center;
}

.top-img {
    margin-bottom: 25px;
}

.top-bottom-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 110px;
}

.top-bottom-title::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--hover-color);
    margin: 40px auto 0;

}

.main-top-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-middle-sec {
    display: flex;
    margin-bottom: 100px;

}
.icon {
    width: 30px;
    height: 30px;
    margin-right: 30px;
}

.middle-text-block {
    width: 330px;
}

.middle-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    color: var(--grey-text);
    margin-bottom: 20px;

}

.middle-text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: left;
    color: var(--grey-text);
}


.main-bottom {
    width: 1200px;
    margin: auto;
}

.main-bottom-sec {
    width: 940px;
    margin: auto;
    text-align: center;
}

.bottom-sec-img {
    margin-bottom: 25px;
}

.bottom-text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: var(--grey-text);
    margin-bottom: 90px;
}

.flex-person {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.person {
    width: 380px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.person-photo {
    position: relative;
    /* border-right: 10px solid transparent;
    border-bottom: 10px solid transparent; */
}

.person-photo-img {
    width: 380px;
    display: block;
}

.hidden-layer {
    position: absolute;
    opacity: 0;
    background: linear-gradient(to bottom ,rgba(255, 153, 153, 0.8), rgba(252, 227, 138, 0.8));
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.person-photo:hover {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0px var(--style-color);
}

.person-photo:hover>.hidden-layer {
    opacity: 1;
    /* transform: translate(-10px, -10px); */
}

.person-name {
    text-transform: uppercase;
    text-align: center;
    color: #6b6b6b;
    margin-bottom: 15px;
    margin-top: 30px;
}

.person-job {
    display: block;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    color: #6b6b6b;
    margin-bottom: 80px;
}

.soc-icons {
    font-size: 30px;
    color: var(--hover-color);
    width: 55px;
    height: 55px;
    background-color: #fce38a;
    margin-top: 200px;
    padding-top: 13px;
}

.soc-icons:hover {
    background-color: var(--style-color);
}